<header class="w-full bg-gray-800 p-4 flex justify-between items-center">
  <nav class="flex items-center">
    <img class="w-7 h-7" src="https://www.solarwinds.com/-/media/solarwinds/swdcv2/licensed-products/service-desk/integrations/sd-integrations-logo-jira.ashx?rev=701fbaa7f8ac4ae08e0406c8984c43e7&hash=75D4F04DE99B88DE7B2C4193F0616F1F" />
    <div class="text-white text-xs hidden sm:block ml-2">
      <a href=" <%=users_path %>" class="bg-gray-900 hover:bg-gray-700 p-2 rounded cursor-pointer">
        Dashboard Rosiers
      </a>
    </div>
  </nav>
  <div class="w-8 h-8 cursor-pointer">
    <img class="rounded-full " src="">
  </div>
</header>


<main class="flex w-full h-screen">
<%= render 'aside' %>

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


<section class="py-1 bg-blueGray-50 w-full">
  <div class="w-full px-4 mx-auto mt-24">
    <div class="relative flex flex-col min-w-0 break-words bg-gray-100 w-full mb-6 shadow-lg rounded ">
      <%= render 'accueil' %>
    </div>
  </div>

</section>

</main>