
<div style='height:100vh; width:100vw; background:white;margin:0; display:flex'>
  

  <div style='display:flex;background:white; width:55%; height:100%; overflow:hidden; position:relative;'>
    <%= image_tag ("undraw_survey_05s5.png"), style:"object-fit:scale-down; width:100%" %>
    <div style="position:absolute; width:100%; height:100%;display:flex;justify-content:center; flex-wrap:wrap; align-content: space-around;">
      <p style="width:100%;display:flex;justify-content:center;margin-top:-10px;font-weight:bold;font-size:3rem;">
        INSCRIPTION DES ADMINS
      </p>
      <p style="width:70%;display:flex;justify-content:center;margin-top:20%; text-align:center">
        Groupe scolaire les Rosiers
      </p>
    </div>
  </div>
  <div style='display:flex; width:45%; height:100%; background:rgba(64, 6, 131, 0.52);; justify-content:center; align-items:start'>
    <div style='width:85%; height:90%; text-align:center'>
      <p style="width:100%; margin:15% 0 0 0; display:flex; justify-content:center; font-size:3rem;font-weight:bold">
        ROSIERS
      </p>
      <p style="width:100%; margin-bottom:20%; display:flex; justify-content:center; font-size:1rem;">
        Bienvenue Aux Rosiers!
      </p>
      <%= render partial: "form", locals: {user: @user}%>
    </div>
  </div>
</div>
