

<%= render partial:'header', locals:{car: @cars}%>
<main class="flex w-full h-screen">
  <%= render partial:'aside', locals:{car: @cars}  %>
  <section class="py-1 bg-white-50 w-full">
    <div style='width:85%; height:90%; text-align:center', class="ml-5">
      <p style="width:100%;  display:flex; justify-content:center; font-size:3rem;font-weight:bold">
        PAGE D'INSCRIPTION
      </p>
      <div class="w-full py-3 flex justify-between items-end">
        <h3 class="text-base font-semibold text-gray-600 ml-96">
          Bienvenue Aux Rosiers
        </h3>
      </div>
      
      <%= render partial: "form", locals: {inscription: @inscription, current_user: @current_user}%>
    </div>
    
  </section>
</main>

