<%= render partial:'header', locals:{chauffeur: @chauffeur}%>
<main class="flex w-full h-screen">
  <%= render partial:'aside', locals:{chauffeur: @chauffeur}  %>
  <section class="py-1 bg-white-50 w-full">
    <div class="w-full px-4 mx-auto mt-24 ">
      <div style='width:85%; height:90%; text-align:center'>
        <p style="width:100%; display:flex; justify-content:center; font-size:3rem;font-weight:bold", class="ml-24">
          AJOUTER UN CHAUFFEUR
        </p>
        <div class="w-full py-3 flex justify-between items-end">
          <h3 class="text-base font-semibold text-gray-600 ml-96">
            SAISSISSEZ LES INFOS SUR LE CHAUFFEUR 
          </h3>
          <a>
          </a>
        </div>
      </div>
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">

        <%= render partial:'form', locals:{chauffeur: @chauffeur, current_user: @current_user} %>
        
      </div>
    </div>

    </section>
</main>
